.App{
    width: 90%; 
    margin-left: 70px;
    margin-top: 20px;

    //=================== HEAD PART =======================

    .headPart{
        background-color: #FEC00F;
        height: 90px;
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        &.blur{
            filter: blur(5px);
        }

        .offcanvasMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1;
        transition: transform 0.3s ease;
        }

          &.open{
            transform: translateX(0);
          }

          &.closed{
            transform: translateX(-100%);
          }
    }

    //========================= DROPDOWN ====================================

    .container{
        width: 100%;
        height: 130px;
        // background-color: violet;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .firstInput{
            width: 99%;
            // background-color: aqua;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .DropDowns{
                width: 50%;
                height: 60px;
                // background-color: teal;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-bottom: 10px;

                #dropdown option{
                    height: 100px;
                }
                select{
                    width: 70%;
                    height: 35px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                    &::placeholder{
                        color: lightgrey;
                    }

                    option{
                        outline: none;
                        border: 1px solid lightgrey;
                        // background-color: red;
                        font-size: 17px;
                    }
                }
            }
            .inputField{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                input{
                    width: 50%;
                    height: 30px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    padding-left: 10px;
                    border: 1px solid lightgrey;

                    &::placeholder{
                        color: lightgray;
                        // padding-left: 10px;
                    }
                }
            }
        }
        .secondInput{
            width: 99%;
            // background-color: aqua;
            height: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .selectedoption{
                // background-color: coral;
                width: 50%;
                height: 50px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                select{
                    width: 70%;
                    height: 35px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    border: 1px solid lightgrey;

                    option{
                        outline: none;
                        border: 1px solid lightgrey;
                        // background-color: red;
                        font-size: 17px;
                    }
                }
            }
            .selectedoptions{
                // background-color: coral;
                width: 50%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;

                select{
                    width: 52%;
                    margin-right: 10px;
                    height: 35px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                    // color: lightgrey;

                    option{
                        outline: none;
                        border: 1px solid lightgrey;
                        // background-color: red;
                        font-size: 17px;
                    }
                }
            }

        }
    }

      //===================== TABLE-CONTENT =============================

    .table{
        .table-head{
            background-color: #FEC00F;
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                color: white;
                // font-weight: 800;
                font-size: 18px;
            }
        }
    }
    .table-body{
        // background-color: red;
        margin-top: 10px;
        overflow-y: scroll;
        max-height: 40vh;
        height: 40vh;
        
        &::-webkit-scrollbar{
            width: 1px;
        }

        &::-webkit-scrollbar-thumb{
            background-color: #888;

            &:hover{
                background-color: #555;
            }
        }
        table{
            // background-color: teal;
            width: 100%;

            thead{
                // background-color: lightblue;
            }

            tbody{
                tr{
                    gap: 10px;
                    .tableslno{
                        background-color: white;
                        
                        .firsttableno{
                            background-color: white;
                            border: 1px solid #B3B3B3;
                            padding: 9.3px;
                            border-radius: 5px;
                            margin-right: 16px;
                        }
                    }
                    
                    .TableHead{
                        width: 22%;
                        .TableSelectOption{
                            width:100%;
                            // background-color: red;
                            cursor: pointer;
                        }
                    }

                    .TableHead1{
                        width: 22%;
                        height: 10px;
                        .TableSelectOption1{
                            width:100%;
                            cursor: pointer;
                        }
                    }

                    .TableHead2{
                        width: 16%;
                        height: 10px;
                        .TableSelectOption2{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead3{
                        width: 7%;
                        height: 10px;
                        .TableSelectOption3{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead4{
                        width: 7%;
                        height: 10px;
                        .TableSelectOption4{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead5{
                        width:20%;
                        height: 10px;
                        .TableSelectOption5{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead6{
                        width:20%;
                        height: 10px;
                        .TableSelectOption6{
                            width:100%;
                            // font-size: 5px;
                            position: relative;
                            
                        }
                        .tableSelectOption6btn{
                            position: absolute;
                            margin-top: -2.5%;
                            margin-left: -8.8%;
                            width: 17.5%;
                            height: 30px;
                            outline: none;
                            background:none;
                            border: none;
                            cursor: pointer;
                        }
                    }
                    .tableslno1{
                        background-color: white;
                        
                        .firsttableno1{
                            background-color: white;
                            border: 1px solid #B3B3B3;
                            padding: 9.3px;
                            border-radius: 5px;
                            margin-right: 16px;
                        }
                    }
                    
                    .TableHead12{
                        width: 22%;
                        .TableSelectOption12{
                            width:100%;
                            // background-color: red;
                            cursor: pointer;
                        }
                    }

                    .TableHead7{
                        width: 25%;
                        height: 10px;
                        .TableSelectOption7{
                            width:100%;
                            cursor: pointer;
                        }
                    }

                    .TableHead8{
                        width: 16%;
                        height: 10px;
                        .TableSelectOption8{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead9{
                        width: 7%;
                        height: 10px;
                        .TableSelectOption9{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead0{
                        width: 7%;
                        height: 10px;
                        .TableSelectOption0{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead11{
                        width:20%;
                        height: 10px;
                        .TableSelectOption11{
                            width:100%;
                            // font-size: 5px;
                            cursor: pointer;
                        }
                    }
                    .TableHead6{
                        width:20%;
                        height: 10px;
                        .TableSelectOption6{
                            width:100%;
                            // font-size: 5px;
                            position: relative;
                            
                        }
                        .tableSelectOption6btn{
                            position: absolute;
                            margin-top: -2.5%;
                            margin-left: -8.8%;
                            width: 17.5%;
                            height: 30px;
                            outline: none;
                            background:none;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    //============================= BUTTONS =====================================


    .savebutton{
        // background-color: red;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        gap: 15px;
        padding-right: 10px;

        button{
            outline: none;
            border: none;
            border: 1px solid lightgrey;
            height: 35px;
            width: 100px;
            border-radius: 5px;

            &:nth-child(1){
                background-color: #FEC00F;
                color: white;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }

            &:nth-child(2){
                background-color: rgb(0, 0, 0);
                color: white;

                &:hover{
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                }
            }

            &:nth-child(3){
                background-color: green;
                color: white;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }

            &:nth-child(4){
                background-color: red;
                color: white;

                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}